<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.axolotl.receiptmanager">

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_share_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_share_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReceiptManager_v00">

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.UploadActivity" />
        <activity android:name=".activity.FrontActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>